/* Write your CSS here */
.latest-match-card {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #0f172a;
  border-radius: 10px;
  font-family: 'Bree Serif';
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  color: white;
}

.compete {
  font-size: 20px;
}

.date {
  font-size: 20px;
}

.venue {
  font-size: 16px;
}

.latest-image {
  width: 260px;
  height: 200px;
  margin-right: 46px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  align-items: flex-end;
  color: white;
}

.head {
  font-size: 18px;
  font-weight: normal;
}

.para {
  font-size: 14px;
}
